  <div *ngIf="this.data" class="ms-3 p-2">

      <div class="align-items-center">
        <div>-{{this.data.text}} <span class="link text-primary ms-2" (click)="showAddForm = !showAddForm"><small>{{showAddForm? 'Cancel' : 'Add child'}}</small></span></div>
        <div class="d-flex"*ngIf="showAddForm">
          <button type="button" class="btn btn-primary btn-sm" (click)="addChild()">add</button> 
          <input type="text" class="form-control form-control-sm"  [(ngModel)]="childText" placeholder="New child text"  />
        </div>
      </div>
      
      <div *ngFor="let node of data.children">
        <app-node [data]="node"></app-node>
      </div>
        
  </div>
