<main class="p-5">

  <h1>Category Tree demo</h1>
  
  <h3>DISPLAY</h3>

  <div class="d-flex">
    <div class="w-50 mb-5">
      <div *ngFor="let node of allNodes">
        <app-node [data]="node"></app-node>
      </div>
    </div>
 
    <div class="w-50 mb-5">
      <button class="btn btn-primary btn-sm" (click)="showDebug = !showDebug">Show debug</button>
      <div *ngIf="showDebug">
        <h3>Debug:</h3>
        <pre class="mb-5"><small>{{allNodes | json}}</small></pre>
      </div>
    </div>
  </div>
    
</main>